*, * {
  margin: 0;
  padding: 0;
}

nav {
  
  input {
    display: none;
  }
  
  label {
    
    position: fixed;
    left: 15px;
    top: 7px;
    z-index: 999;
    cursor: pointer;
    
    strong {
      
      padding: 0 12px;
      width: 50px;
      height: 50px;
      line-height: 50px!important;
      
      color: black;
      position: absolute;
      right: 40px;
      top: 0px;
      transition: color 250ms ease;
      
    }
    
    b {
      
      width: 40px;
      height: 40px;
      display: block;
      position: relative;
      right: 0;
      top: 0;
      cursor: pointer;
      transition: background 500ms ease;
      
      i {
        
        display: block;
        background: black;
        width: 33px;
        height: 2px;
        position: absolute;
        top: 11px;
        border-radius: 1000px;
        transform-origin: 22px 0px;
        transition: transform 300ms cubic-bezier(0.090, 0.920, 0.000, 1.435), opacity 500ms ease;
        
        &:nth-child(2) {
          top: 21px
        }
        
        &:nth-child(3) {
          transform-origin: 24px 4px;
          top: 30px;
        }
     
      }
      
    }
    
  }
  
  menu {
  
    background: white;
    width: 100%;
    height: 50%;
    display: none;
    overflow: auto;
    transition: opacity 300ms ease;
    position: fixed;
    z-index: 998;
    top: 0;
    left: 0;
    border: 3px solid black;
    
    a {
    
      margin: 0 auto;
      width: 100%;
      height: 45px;
      display: block;
      text-align: center; 
      &:hover {
        border-bottom: none;
      }
      
      &:first-child {
        margin-top: 100px;
        
      }
      &:last-child {
        margin-bottom: 75px;
        
      }
    
      a {
        
        padding: 20px 0;
        font: 100 18px Lato, helvetica, sans-serif;
        text-transform: uppercase;
        text-decoration: none;
        text-align: center;
        color: #fff;
        display: block;
        border-bottom: rgba(255, 255, 255, .2) 1px solid;
        
        
      }
      
    }
  
  }
  
  #nav:checked ~ label {
    
    strong {
      color: rgba(255, 255, 255, .25);
    }
    
    b {
  
      transition-delay: 100ms;

      i {

        &:nth-child(1) {
          transform: rotate(45deg) translate(6px, 11px);
        }

        &:nth-child(2) {
          opacity: 0;
        }

        &:nth-child(3) {
          transform: rotate(-45deg) translate(10px, -14px);
        }

      }

    }
    
  }
  
  #nav:checked ~ menu {
    display: block;
  }
  
}